@media screen and (max-width: 640px) {

    .navBar{
        background-color: white;
        padding: 10px;
        color: white; 
    }
    
    .navItem{
        float: left;  
        width: 33%;
        display: block;
        color: #4aaaa5;
        text-align: center;
        text-decoration: none;
        margin: 1em 0px 1em 0px;
    }
    
    
    h1{
        padding: 20px;
        font-family: 'Georgia', Times, Times New Roman, serif;
        background: #4aaaa5;
        color: white;
        text-align: center;
        font-size: 1.7em;
        
    }
    
    h2{
         color: #4aaaa5;
         font-family: 'Georgia', Times, Times New Roman, serif;
         font-size: 1.5em;
    }
    
    .header{
        overflow: hidden;
        background-color: #ffffff;
        border: #cccccc;
        margin: auto;
    }
    
    .topFrame{
        overflow: hidden;
        background-color: #ffffff;
        border: #cccccc;
        width: 100%;
        margin: auto;
        border-bottom: 1px solid #cccccc;
    }
    
    body{
        background-image: url(../images/prism.png);
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
    
    main{
        background: #ffffff;
        width: 80%;
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 80px;
        padding: 20px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        border: 1px solid #dddddd;
    }
    
    footer{
        background: #666666;
        position: fixed;
        padding-top: 5px;
        bottom: 0;
        width: 100%;
        height: 30px;
        text-align: center;
        color: white;
        border-top: 8px #4aaaa5 solid;
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

      }
      
    .flex-container > div {
        background-color: #f1f1f1;
        width: 60%;
        margin: 10px;
        text-align: center;
        line-height: 100%;
        font-size: 20px;
      }
    
    clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
    }




@media screen and (min-width: 641px) and (max-width: 768px) {

    .navBar{
        background-color: white;
        padding: 10px;
        color: white; 
        float: right;
    }
    
    .navItem{
        float: left;  
        display: block;
        color: #4aaaa5;
        text-align: center;
        padding: 10px;
        text-decoration: none;
    }
    
    
    h1{
        padding: 20px;
        font-family: 'Georgia', Times, Times New Roman, serif;
        background: #4aaaa5;
        color: white;
        float: left;
        margin: 0px 0px 0px 1em;
        font-size: 1.7em;
        
    }
    
    h2{
         color: #4aaaa5;
         font-family: 'Georgia', Times, Times New Roman, serif;
         font-size: 1.5em;
    }
    
    .header{
        overflow: hidden;
        background-color: #ffffff;
        border: #cccccc;
        margin: auto;
    }
    
    .topFrame{
        overflow: hidden;
        background-color: #ffffff;
        border: #cccccc;
        width: 100%;
        margin: auto;
        border-bottom: 1px solid #cccccc;
    }
    
    body{
        background-image: url(../images/prism.png);
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
    
    main{
        background: #ffffff;
        width: 80%;
        margin: auto;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 80px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        border: 1px solid #dddddd;
    }
    
    footer{
        background: #666666;
        position: fixed;
        padding-top: 5px;
        bottom: 0;
        width: 100%;
        height: 30px;
        text-align: center;
        color: white;
        border-top: 8px #4aaaa5 solid;
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
      }
      
    .flex-container > div {
        background-color: #f1f1f1;
        width: 40%;
        margin: 10px;
        text-align: center;
        line-height: 100%;
        font-size: 20px;
      }
    
    clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
    }

@media screen and (min-width:769px){

    .navBar{
        background-color: white;
        padding: 10px;
        color: white; 
        float: right;
    }
    
    .navItem{
        float: left;  
        display: block;
        color: #4aaaa5;
        text-align: center;
        padding: 10px;
        text-decoration: none;
    }
    
    
    h1{
        padding: 20px;
        font-family: 'Georgia', Times, Times New Roman, serif;
        background: #4aaaa5;
        color: white;
        float: left;
        margin: 0px 0px 0px 1em;
        font-size: 1.7em;
        
    }
    
    h2{
         color: #4aaaa5;
         font-family: 'Georgia', Times, Times New Roman, serif;
         font-size: 1.5em;
    }
    
    .header{
        overflow: hidden;
        background-color: #ffffff;
        border: #cccccc;
        margin: auto;
    }
    
    .topFrame{
        overflow: hidden;
        background-color: #ffffff;
        border: #cccccc;
        width: 100%;
        margin: auto;
        border-bottom: 1px solid #cccccc;
    }
    
    body{
        background-image: url(../images/prism.png);
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
    
    main{
        background: #ffffff;
        width: 80%;
        margin: auto;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 80px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        border: 1px solid #dddddd;
    }
    
    footer{
        background: #666666;
        position: fixed;
        padding-top: 5px;
        bottom: 0;
        width: 100%;
        height: 30px;
        text-align: center;
        color: white;
        border-top: 8px #4aaaa5 solid;
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
      }
      
    .flex-container > div {
        background-color: #f1f1f1;
        width: 40%;
        margin: 10px;
        text-align: center;
        line-height: 100%;
        font-size: 20px;
      }
    
    clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
}
